/*
.josefin-slab-<uniquifier> {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



*/

body {
  background-color: lightgray;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Josefin Slab", serif;
}

.hero {
  max-width: 100%;
  text-align: center;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  padding: 50px 20px;
}

.hero h1 {
  font-size: 90px;
  color: rgb(36, 34, 34);
  margin-bottom: 30px;
}

.hero-image {
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.garden-image {
  max-width: 33.3%;
}
.recipes-image {
  max-width: 33.3%;
}
.community-image {
  max-width: 33.3%;
}

.footer {
  font-family: "Montserrat", sans-serif;
}

.footer-credit {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.section-buttons p {
  border-radius: 10px;
  color: rgb(36, 34, 34);
  font-family: "Amatic SC", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  padding: 8px 5px;
}

.recipes-button p {
  background: rgb(249, 170, 100);
}

.garden-button p {
  background: rgb(21, 186, 196);
}

.community-button p {
  background: rgb(203, 132, 253);
}
@media (max-width: 900px) {
  .hero h1 {
    font-size: 45px;
  }
  .section-buttons p {
    font-size: 16px;
    padding: 5px 3px;
  }
  .hero-image {
    display: none;
  }
}
