/*
.josefin-slab-<uniquifier> {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/*
General style: 
*/
body {
  background: white;
  max-width: 100%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
p {
  font-family: "Josefin Slab", serif;
}
a {
  color: black;
  text-align: left;
}
.footer {
  background: rgba(250, 249, 249, 0.4);
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
}
.footer-credit {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.header {
  background: rgba(250, 249, 249, 0.4);
}

.mainpic {
  max-width: 100%;
}
.philosophy {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
}
@media (max-width: 767.5px) {
  .mainpic {
    display: none;
  }
  .previewpic {
    margin-left: 55px;
  }
  .recipe-name {
    margin-left: 55px;
    font-family: "Montserrat", sans-serif;
  }
}
/*
Homepage style: 
*/

.homepage {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
}
.hero {
  max-width: 100%;
  text-align: center;
  padding: 50px 0px;
}
.hero h1 {
  font-size: 90px;
  color: rgb(36, 34, 34);
  margin-bottom: 30px;
}
.hero-image {
  border-radius: 0px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.garden-image {
  max-width: 33.3%;
}
.recipes-image {
  max-width: 33.3%;
}
.community-image {
  max-width: 33.3%;
}
.section-buttons p {
  border-radius: 10px;
  color: rgb(36, 34, 34);
  font-family: "Amatic SC", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  padding: 8px 5px;
}
.recipes-button p {
  background: rgb(249, 170, 100);
}
.garden-button p {
  background: rgb(21, 186, 196);
}
.community-button p {
  background: rgb(203, 132, 253);
}
@media (max-width: 900px) {
  .hero h1 {
    font-size: 45px;
  }
  .section-buttons p {
    font-size: 16px;
    padding: 5px 3px;
  }
  .hero-image {
    display: none;
  }
}
/*
Recipe page style: 
*/
.recipe-page h1 {
  background: rgb(249, 170, 100);
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px 5px;
  text-align: center;
}
.recipe-page h2 {
  color: rgb(249, 170, 100);
}
.recipes-preview {
  margin-right: 0px;
  margin-top: 20px;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
/*
Garden page style: 
*/
.garden-page h1 {
  background: rgb(21, 186, 196);
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px 5px;
  text-align: center;
}
.garden-page h2 {
  color: rgb(21, 186, 196);
}
.garden-page h3 {
  font-size: 18px;
  color: rgb(9, 73, 76);
}
.garden-preview {
  border-radius: 5px;
  margin-right: 0px;
  margin-top: 40px;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.box {
  background: rgb(188, 227, 229, 30%);
  border-radius: 5px;
  margin-top: 40px;
  padding: 15px 20px;
}
/*
Community page style: 
*/
.community-page h1 {
  background: rgb(203, 132, 253);
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px 5px;
  text-align: center;
}
.community-page h2 {
  color: rgb(203, 132, 253);
}
.community-page h3 {
  margin-top: 20px;
  font-size: 18px;
  color: rgb(57, 36, 72);
}
.left-aligned .community-preview {
  padding: 15px;
  box-shadow: 3px 3px 5px rgb(146, 144, 144);
  margin-top: 10px;
  margin-bottom: 10px;
}
.right-aligned .community-preview {
  padding: 15px;
  box-shadow: -3px 3px 5px rgb(146, 144, 144);
  margin-bottom: 10px;
  margin-top: 10px;
}
.preview-section {
  margin-left: 60px;
}
.left-aligned {
  background: rgb(247, 235, 246);
  text-align: left;
  margin-bottom: 40px;
  margin-top: 40px;
  max-width: 80%;
  border-radius: 10px;
}
.right-aligned {
  background: rgb(217, 211, 217);
  text-align: right;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 80%;
  border-radius: 10px;
}

/*
Contact page style: 
*/
.contact-page h1 {
  text-align: center;
  margin-top: 40px;
}
.contact-page .row {
  display: flex;
  margin-top: 40px;
  text-align: center;
}
.mail {
  text-align: center;
}
.phone {
  text-align: center;
}
.mail-icon img {
  max-height: 100px;
  margin: 10px auto;
}
.phone-icon img {
  max-height: 100px;
  margin: 10px auto;
}
/*
About page style: 
*/
.about {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  border-radius: 10px;
  padding: 40px 30px;
}
